<!DOCTYPE html>
<html>
<head>
    <title> Edit Information - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <div id = "nav">
        <header>
            <h1>Edit Information - GreenGrocerOnline</h1>
        </header>
        <div class = "nav-links">
            <a href = "home.html">Home</a>
            <a href = "tables.html">Tables List</a>
            <a href = "add_tables.html">Edit Tables</a>
        </div>
    </div>
<main>
    <h2>Add or Remove Records</h2>
    <p>Choose a table below to add or remove information from.</p>
    <div class = "table-grid">
        <a href = "add_department.html" class = "table-card">
            <h3>Department</h3>
            <p>Add or remove departments</p>
        </a>

        <a href = "add_customer.html" class = "table-card">
            <h3>Customer</h3>
            <p>Add or remove customers</p>
        </a>

        <a href = "add_employee.html" class = "table-card">
            <h3>Employee</h3>
            <p>Add or remove employees</p>
        </a>

        <a href = "add_catalog.html" class = "table-card:">
            <h3>Catalog</h3>
            <p>Add or remove products</p>
        </a>

        <a href = "add_store.html" class = "table-card">
            <h3>Store</h3>
            <p>Add or remove store locations</p>
        </a>

        <a href = "add_supplier.html" class = "table-card">
            <h3>Supplier</h3>
            <p>Add or remove suppliers</p>
        </a>

        <a href = "add_transac.html" class = "table-card">
            <h3>Item Supplied</h3>
            <p>Add or remove item from supplied record</p>
        </a>

        <a href = "add_dietaryinformation.html" class = "table-card">
            <h3>Dietary Information</h3>
            <p>Add or remove dietary information for each product</p>
        </a>

        <a href = "add_customerpurhcasehistory.html" class = "table-card">
            <h3>Customer Purchase History</h3>
            <p>Add or remove item from purhcase history of each customer</p>
        </a>

        <a href = "add_customertransaction.html" class = "table-card">
            <h3>Customer Transaction</h3>
            <p>Add or remove customer transactions</p>
        </a>

        <a href = "add_employeetransaction.html" class = "table-card">
            <h3>Employee Transaction</h3>
            <p>Add or remove employee transactions</p>
        </a>
    </div>
</main>
</body>
</html>
