<!DOCTYPE html>
<html>
<head>
    <title>Add ItemSupplied - GreenGrocer Online</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id = "nav">
        <header>
            <h1>Tables - GreenGrocer Online</h1>
        </header>
        <div class = "nav-links">
            <a href = "/">Home</a>
        </div>
    </div>
    <h4>* = Required</h4>
    <form action = "/ItemSupplied/add" method = "POST">
        <label>ProductID*:</label>
            <input type = "number" name = "product_id" placeholder = "product id..." required><br>
        <label>TransactionID*:</label>
            <input type = "number" name = "transaction_id" placeholder = "transaction id..." required><br>
        <label>SupplierID*:</label>
            <input type = "number" name = "supplier_id" placeholder = "supplier id..." required><br>
        <label>StoreID*:</label>
            <input type = "number" name = "store_id" placeholder = "store id..." required><br>
        <label>ItemQuantity*:</label>
            <input type = "number" name = "item_quantity" placeholder = "item quantity..." required><br>
        <button class = reset type = "reset">Reset</button>
        <button class = "add" type = "submit">Add</button>
    </form>
</body>
</html>
