<!DOCTYPE html>
<html>
<head>
    <title>Add Transaction - GreenGrocer Online</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id = "nav">
        <header>
            <h1>Tables - GreenGrocer Online</h1>
        </header>
        <div class = "nav-links">
            <a href = "/">Home</a>
        </div>
    </div>
    <h4>* = Required</h4>
    <form action = "/add" method = "POST">
        <label>CashierEmployeeID*:</label> <!-- foreign key -->
            <input type = "text" name = "cashier_employee_id" placeholder = "cashier employee id..." required><br>
        <label>TransactionAmount*:</label>
            <input type = "number" name = "transaction_amount" placeholder = "transaction amount..." required><br>
        <label>TransactionDate*:</label>
            <input type = "date" name = "transaction_date" placeholder = "transaction date..." required><br>
        <label for = "incoming_or_outgoing">tracked by incoming or outgoing*:</label>
            <select id = "incoming_or_outgoing" name = "incoming_or_outgoing">
                <option value = "incoming">incoming</option>
                <option value = "outgoing">outgoing</option>
        <button class = reset type = "reset">Reset</button>
        <button class = "add" type = "submit">Add</button>
    </form>
</body>
</html>