<!DOCTYPE html>
<html>
<head>
    <title>Add Transaction - GreenGrocer Online</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id = "nav">
        <header>
            <h1>Tables - GreenGrocer Online</h1>
        </header>
        <div class = "nav-links">
            <a href = "/">Home</a>
        </div>
    </div>
    <h4>* = Required</h4>
    <form action = "/add_Transactions" method = "POST">
        <label>CashierEmployeeID*:</label> <!-- foreign key -->
            <input type = "text" name = "CashierEmployeeID" placeholder = "Cashier Employee ID..." required><br>
        <label>TransactionAmount*:</label>
            <input type = "number" name = "TransactionAmount" placeholder = "Transaction Amount..." required><br>
        <label>TransactionDate*:</label>
            <input type = "date" name = "TransactionDate" placeholder = "Transaction Date..." required><br>

        <label>Incoming or Outgoing*:</label>
            <select name = "IncomingOrOutgoing">
                <option value = "I">Incoming</option>
                <option value = "O">Outgoing</option>
            </select><br>
        <button class = reset type = "reset">Reset</button>
        <button class = "add" type = "submit">Add</button>
    </form>
</body>
</html>