<!DOCTYPE html>
<html>
<head>
    <title>Catalog - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <header>
        <h1>Catalog - GreenGrocer Online</h1>
    </header> 
    <a href = "/add_catalogs">ADD</a>
    <br>
    <table>
        <thead>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>SKU</th>
            <th>Weight</th>
            <th>Base Price</th>
            <th>Sale Price</th>
            <th>Sold by Weight or Unit</th>
            <th>Brand</th>
            <th>Quantity of Item</th>
            <th>Department ID</th>
            <th>Expiration Date</th>
            <th>Last Update</th>
        </thead>
        {% for data in catalogs %}
        <tbody>
            <td>{{data.catalog_id}}</td>
            <td>{{data.product_name}}</td>
            <td>{{data.category}}</td>
            <td>{{data.sku}}</td>
            <td>{{data.weight}}</td>
            <td>{{data.base_price}}</td>
            <td>{{data.sale_price}}</td>
            <td>{{data.sold_by_weight_or_unit}}</td>
            <td>{{data.brand}}</td>
            <td>{{data.quanity_of_item}}</td>
            <td>{{data.department_id}}</td>
            <td>{{data.expiration_date}}</td>
            <td>{{data.last_update}}</td>
            <td><a href = "/delete_catalog/{{data.catalog_id}}" type = "button">Delete</a></td>
        </tbody>
        {% endfor%}
    </table>
</body>
</html>