<!DOCTYPE html>
<html>
<head>
	<title>Departments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="nav">
        <header>
            <h1>GreenGrocer Online - Departments</h1>
        </header>
        <div class="nav-links">
            <a href="/">Home</a>
        </div>
    </div>

    <div class="table-actions">
        <a class="add" href="/add_department">Add Department</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Department ID</th>
                <th>Name</th>
                <th>Employees</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for data in departments %}
            <tr>
                <td>{{ data.department_id }}</td>
                <td>{{ data.department_name }}</td>
                <td>{{ data.employee_total }}</td>
                <td><a href="/delete_department/{{ data.department_id }}" class="delete">Delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No departments available.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
