<!DOCTYPE html>
<html>
<head>
    <title>Dietary Information - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <div id = "nav">
        <header>
            <h1>Tables - GreenGrocer Online</h1>
        </header>
        <div class = "nav-links">
            <a href = "home.html">Home</a>
            <a href = "tables.html">Tables List</a>
            <a href = "add_tables.html">Edit Tables</a>
        </div>
    </div> 
<a href = "/add_DietaryInformation">ADD</a>
        <br>
        <table>
        <thead>
            <th>ProductID</th>
            <th>Restriction</th>
            <th>Last Update</th>
        </thead>
        {% for data in stores %}
        <tbody>
            <td>{{data.DietaryInformation_ProductID}}</td>
            <td>{{data.DietaryInformation_Restriction}}</td>
            <td>{{data.DietaryInformation_LastUpdate}}</td>
            <td><a href = "/delete_DietaryInformation/{{data.DietaryInformation_ProductID}}" type = "button">Delete</a></td>
        </tbody>
        {% endfor%}
    </table>
</body>
</html>