<!DOCTYPE html>
<html>
<head>
    <title>Home - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <div id = "nav">
        <header>
            <h1> GreenGrocer Online</h1>
        </header>
        <div class = "nav-links">
            <a href = "home_1.html">Home</a>
            <a href = "tables_1.html">Tables List</a>
            <a href = "add_tables_1.html">Add to Tables</a>
        </div>
    </div>
<main>
    <h2>Welcome to GreenGrocer Online!</h2>
    <p>This comprehensive platform will allow you to manage store operations, 
        supplier relationships, and inventory tracking all within one place.
    </p>
    <div clas = "feature-section">
        <h3>Things to Access Here</h3>
        <div class = "feature-grid">
            <div class = "feature-card">
                <h4>View All Information</h4>
                <p>Access all information aobut inventory, supplies, and store operations.</p>
            </div>
            <div class = "feature-card">
                <h4>Add New and Delete Records</h4>
                <p>Input and delete products, suppliers, and inventory updates to keep data up-to-date.</p>
            </div>
            <div class = "feature-card">
                <h4>Stay Updated with the Latest Information</h4>
                <p>All information can be updated at any time to provide consistent, reliable information for reference.</p>
            </div>
        </div>
    </div>
</main>
</body>
<footer>
            <p>GreenGrocer's platform provides all team members with the tool and data to make properly informed decisions to keep our company thriving and provide the best service to our customers possible.</p>
</footer>
</html>