<html>
<head>
	<title>Index Page</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
	<h3>Options</h3>
	<a href = "/get_catalogs">Catalog</a><br>
   <a href = "/get_customerpurchasehistory">Customer Purchase History</a><br>
   <a href = "/get_customer_transactions">Customer Transaction</a><br>
   <a href = "/get_customers">Customers</a><br>
   <a href = "/get_departments">Departments</a><br>
   <a href = "/get_DietaryInformation">Dietary Information</a></br>
   <a href = "/get_employeetransactions">Employee Transaction</a><br>
    <a href = "/get_employee">Employees</a></br>
   <a href = "/get_items_supplied">Item Supplied</a><br>
   <a href = "/get_stores">Stores</a><br>
   <a href = "/get_suppliers">Suppliers</a></br>
	<a href = "/get_Transactions">Transactions</a><br>
   <a href = "/get_queries">Queries</a><br>

</body>
</html>
