<html>
<head>
	<title>Index Page</title>
</head>
<body>
	<h3>Options</h3>
	<a href="/get_least_stocked_products">Products with Least Stock</a><br>
    <a href="/get_products_expiring_soon">Products Expiring Soonest</a><br>
    <a href="/get_product_sold_most">Product Sold Most in a Given Year</a><br>
	<a href="/get_Product_Sold_Least"> Product sold least in a given year </a><br>
   <a href="/get_avg_Spend_And_Item_Quantity">Average Customer Spend and Quantity</a><br>
  <a href="/get_products_by_seasonality">Products by Category or Restriction or Seasonality</a><br>
<a href="/get_avg_items_supplied_per_year">Average Items Supplied Per Year</a><br>
</body>
</html