<!DOCTYPE html>
<html>
<head>
    <title>Stores - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <header>
        <h1>Stores - GreenGrocer Online</h1>
    </header>
    <a href = "/add_stores">ADD</a>
        <br>
        <table>
        <thead>
            <th>ID</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Last Update</th>
        </thead>
        {% for data in stores %}
        <tbody>
            <td>{{data.store_id}}</td>
            <td>{{data.street_address}}</td>
            <td>{{data.city}}</td>
            <td>{{data.state}}</td>
            <td>{{data.zip}}</td>
            <td>{{data.last_update}}</td>
            <td><a href = "/delete_store/{{data.store_id}}" type = "button">Delete</a></td>
        </tbody>
        {% endfor%}
    </table>
</body>
</html>