<!DOCTYPE html>
<html>
<head>
    <title>Suppliers - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <header>
        <h1>Suppliers - GreenGrocer Online</h1>
    </header>
<a href = "/add_suppliers">ADD</a>
        <br>
        <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Store ID</th>
            <th>Last Update</th>
        </thead>
        {% for data in stores %}
        <tbody>
            <td>{{data.supplier_id}}</td>
            <td>{{data.supplier_name}}</td>
            <td>{{data.supplier_address_street}}</td>
            <td>{{data.supplier_address_city}}</td>
            <td>{{data.supplier_address_statestate}}</td>
            <td>{{data.supplier_address_zip}}</td>
            <td>{{data.supplier_store_id}}</td>
            <td>{{data.last_update}}</td>
            <td><a href = "/delete_supplier/{{data.supplier_id}}" type = "button">Delete</a></td>
        </tbody>
        {% endfor%}
    </table>
</body>
</html>