<!DOCTYPE html>
<html>
<head>
    <title>Tables List - GreenGrocer Online</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <div id = "nav">
        <header>
            <h1>Tables - GreenGrocer Online</h1>
        </header>
        <div class = "nav-links">
            <a href = "home.html">Home</a>
            <a href = "tables.html">Tables List</a>
            <a href = "add_tables.html">Edit Tables</a>
        </div>
    </div>
<main>
    <h2>Database Tables</h2>
    <p>Select a table to view the information held within them. All information is updated daily to guarantee data-backed decision-making.</p>

    <div class = "table-grid">
        <a href = "department.html" class = "table-card">
            <h3>Department</h3>
            <p>View department information and number of employees per department</p>
        </a>

        <a href = "/customers" class = "table-card">
            <h3>Customer</h3>
            <p>View all customer records and information</p>
        </a>

        <a href = "employee.html" class = "table-card">
            <h3>Employee</h3>
            <p>View all employee details, such as payroll and availability</p>
        </a>

        <a href = "catalog.html" class = "table-card">
            <h3>Catalog</h3>
            <p>View all product information currently in our inventory</p>
        </a>

        <a href = "store.html" class = "table-card">
            <h3>Store</h3>
            <p>View all store locations and addresses</p>
        </a>

        <a href = "supplier.html" class = "table-card">
            <h3>Supplier</h3>
            <p>View all supplier information, such as name and address</p>
        </a>

        <a href = "transac.html" class = "table-card">
            <h3>Transaction</h3>
            <p>View all transactions and corresponding information, such as amount spent</p>
        </a>

        <a href = "itemsupplied.html" class = "table-card">
            <h3>Item Supplied</h3>
            <p>View all itmes supplied from each supplier</p>
        </a>

        <a href = "dietaryinformation.html" class = "table-card">
            <h3>Dietary Information</h3>
            <p>view all dietary information for each product in our store</p>
        </a>

        <a href = "customerpurchasehistory.html" class = "table-card">
            <h3>Customer Purchase History</h3>
            <p>View all customer purchasing records</p>
        </a>

        <a href = "customertransaction.html" class = "table-card">
            <h3>Customer Transaction</h3>
            <p>View all customer transaction details</p>
        </a>


        <a href = "employeetransaction.html" class = "table-card">
            <h3>Employee Transaction</h3>
            <p>View all employee information corresponding to each transaction</p>
        </a>
    </div>
</main>
</body>
</html>
